services:
  db:
    image: postgres:15-alpine
    container_name: hospital-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hospital_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d hospital_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: hospital-backend
    restart: always
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/hospital_db
      - PORT=3001
      - JWT_SECRET=df7s89f7s98f7s98f7s987fs987f9s87f98s7f9s8f7s98f7
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend
    container_name: hospital-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
